<launch>
    <include file="$(find odometry)/launch/odometry.launch"/> <!--  odometry 만들기 -->
    <include file="$(find robot_localization)/launch/navsat_transform_template.launch"/> <!--  gps를 이용한 tf 만들기 --> 

    <include file="$(find gpsd_client)/launch/GPS.launch"/> <!--  GPSd 프로그램 실행 파일 -->
    <include file="$(find robot_localization)/launch/ekf_template.launch"/><!--  확장 칼만필터 실행 파일 -->
    
    <include file="$(find platform_rx_thread_test)/launch/rx_thread_test.launch"/>  <!--플랫폼 실행파일 -->
    <include file="$(find platform_static_tf)/launch/robot_setup.launch"/>  <!--센서 위치 tf 실행 -->

        
</launch>